.custom-btn {
    margin: 10px;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    font-family: 'Figtree SemiBold', sans-serif;
    width: 90%; /* Makes the button almost full width */
    max-width: 400px; /* Optional, to ensure the button doesn't get too wide on larger screens */
    margin: 10px 5%; /* Centers the button with a 5% margin on each side */
}

.primary-btn {
    background-color: #0AE194;
    color: black;
}

.secondary-btn {
    background-color: transparent;
    color: #0AE194;
    border: 1px solid #0AE194;
}

.primary-btn:hover {
    background-color: #08C081;
}

/* .secondary-btn:hover {
    background-color: #0AE194;
    color: black;
} */
