.air-data {
    display: flex;
    justify-content: space-between;
}

.air-real-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    gap: 2rem;
}

.air-chart {
    width: 65%; 
    padding: 0.625rem;
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}